* {
    box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
}

p {
    margin: 0;
}


/*
   COMMON PROPERTY
*/

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    
}

button {
    outline: none;
}

h1 {
    font-size: 120px;
    font-weight: 600;
    margin: 0;
    color: white;
}

h2 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0
}

/*
   END OF COMMON PROPERTY
*/

/*
   HEADER
*/

header {
    position: fixed;
    width: 100%;
    height: 72px;
    z-index: 5;
    background-color: white;
    padding-top: 7px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-and-search {
    display: flex;
    justify-content: right;
    align-items: center;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    }

.search-form {
    position: relative;
    margin-left: 55px;
}

.search-form .search-field {
    width: 282px;
    height: 36px;
   
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    color: #767676;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #c4c4c4;
    padding-left: 6px;
    padding-right: 37px;
   
}

.search-btn {
    position: absolute;   
    height: 36px;
    top: 1px;
    right: 6px;
    border: none;
    background-color: transparent;

}

.nav-link {
    margin-left: 36px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 4px;
}

.nav-link:hover {
    text-decoration: underline;
}
.first-screen .container {
    position: relative;
}

/*
   END OF HEADER
*/

/*
   FIRST SCREEN
*/


.first-screen {
    height: 828px;
    position: relative;
    padding-top: 72px;
    overflow: hidden;
}

.main-picture {
    position: absolute;
    top: 72px;
    left: 0;
    height: 756px;
    width: 100vw;
    object-fit: cover;
}

.blackout-main-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.1;
    padding-top: 72px;
}

.name-of-courses {
    padding-top: 105px;
}

.slogan {
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    line-height: 48px;
    margin-top: 24px;
    
}

.white-button {
    height: 54px;
    width: 192px;
    font-size: 20px;
    border: none;
    background-color: white;
    border-radius: 4px;
    margin-top: 84px;
    color: #333333;
}

/*
   END OF FIRST SCREEN
*/

/*
   LIST OF SOFT-SKILLS
*/

.container-of-list {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-top: 162px;
}

.list-and-picture1 {
    display: flex;
    flex-direction: row;
    
}

.list {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
}

.item-of-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;
}

.pink-row {
    display: flex;
    align-items: center;
    padding-right: 26px;
}

.item-of-list:last-child {
    margin-bottom: 0;
}

.skill {
    display: flex;
    align-items: center;
}

.picture1 {
    padding-top: 33px;
    padding-bottom: 192px;
}

/*
   END OF LIST OF SOFT-SKILLS
*/

.popular-courses {
    height: 1008px;
    position: relative;
    overflow: hidden;
    background: #462E59;
    width: 100%;
}

.container-of-popular-courses {
    top: 174px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 174px;

}

.name-of-popular-courses {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 65px;
   

}

.cards-of-popular-courses {
    display: grid;
    grid-template-columns: 384px 384px 384px;
    grid-template-rows: 456px;
    gap: 24px;
}

.card-of-course {
    display: flex;
    background-color: white;
    border-radius: 4px;
    position: relative;
    flex-direction: column;
}


.label-of-course {
    height: 40px;
    width: 140px;
    background-color: #EF7C97;
    color: white;
    border-radius: 24px;
    border: none;
    margin-top: 32px;
    margin-left: 26px;
}

.Name-of-course {
    line-height: 36px;
    margin-top: 16px;
    margin-left: 26px;
    font-weight: 500;
   
}

.time-teacher {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-template-rows: 24px 24px;
    column-gap: 12px;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 222px;
    left: 38px;
    align-items: center;
}

.price {
    position: absolute;
    top: 282px;
    left: 68px;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 36px;
}
.container-for-blue-btn {
    display: flex;
    justify-content: center;
}

.blue-btn {
    position: absolute;
    bottom: 32px;
    height: 56px;
    width: 236px;
    background-color: #003AB0;
    color: white;
    border-radius: 12px;
    border: none;
}





